*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  background: #1f1c1c49;
}
#main{
  width: 90%;
  max-width: 560px;
  align-self: center;
}
#arrowParent{
  border: 4px solid white;
  height: 70%;
  border-radius: 6px;
}
#triggerButton{
  border-radius: 6px;
}
#content-container{
  height: 98%;
  width: 85%;
}
fieldset{
  border: 2.5px solid #064E3B;
  border-radius: 8px;
}
#interpretaionbor{
  border: 2.5px solid #F59E0B;
  border-radius: 6px;
}
#SoundParent>div,#SpeakInput{
  position: relative;
  margin-bottom: 5px;
  left: -4px;
}
#copybtn{
  position: relative;
  margin-bottom: 5px;
}
/* #SpeakInput{
  align-self: flex-end;
} */
/* .fieldset{
  display: none;
  width: 80%;
  max-width: 560px;
} */
textarea{
  outline: none;
}
#OutputedText{
  height: 17.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#phoneSpeaker:hover{
  background-color: #5e5e5e8a;
  box-shadow: 0 0  10px #5e5e5e8a,
  0 0 20px #5e5e5e8a,
  0 0 40px #5e5e5e8a;
  border-radius: 50%;
}
#SpeakInput:hover{
  background-color: #5e5e5e8a;
  box-shadow: 0 0  10px #5e5e5e8a,
  0 0 20px #5e5e5e8a,
  0 0 40px #5e5e5e8a;
  border-radius: 50%;
}
#Soundspeaker:hover{
  background-color: #5e5e5e8a;
  box-shadow: 0 0  10px #5e5e5e8a,
  0 0 20px #5e5e5e8a,
  0 0 40px #5e5e5e8a;
  border-radius: 50%;
}


#OutputedText {
  scrollbar-color:      #4f5553 #2e2e302d;
}
textarea {
  scrollbar-color:      #4f5553 #2e2e302d;
}


@media screen and (max-width: 800px) {
  textarea{
    width: 35ch;
    /* height: 4.8em; */
    /* border: 2px dashed palegoldenrod; */
  }

}
@media screen and (max-width: 550px) {
  textarea{
    width: 35ch;
  }

}
@media screen and (max-width: 400px) {
  textarea{
    width: 32ch;
    height: 5em;
  }
  #interpretaionbor{
    /* background: #000; */
    /* height: 5em; */
  }
  #OutputedText{
    /* height: 4.94em; */
  }
  #content-container{
    width: 90%;
  }
    textarea{
    height: 5.2em;
    /* border: 2px dashed palegoldenrod; */
  }

  .OrTrans,#triggerButton,#OutputedText{
    font-size: 16px;
    
  }
  #openFrom,#closeFrom,#opento,#closeTo,fieldset, .saySomething{
    font-size: 15px;
  }
  #confy-image{
    height: 25px;
    width: 25px;
  }
  #speaker{
    height: 50px;
    width: 50px;
  }
  #arrowParent{
    border: 3px solid white;
  }
  #main{
    width: 100%;
    
  }
}
@media screen and (max-width: 350px) {

  textarea{
    width: 30ch;
  }


}
