*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  background: #DADDDF;
}
#main{
  width: 90%;
  max-width: 560px;
  align-self: center;
}
#arrowParent{
  border: 4px solid white;
  height: 70%;
  border-radius: 6px;
}
#triggerButton{
  border-radius: 6px;
}
#content-container{
  height: 98%;
  width: 85%;
}
fieldset{
  border: 2.5px solid #064E3B;
  border-radius: 8px;
  position: relative;

}
#interpretaionbor::before,
#interpretaionbor::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #fb00927e, #0000ff83, #00ff007e,#ffff0080,#ff000083,  #fb00927e, #0000ff83, #00ff007e,#ffff0080,#ff000083,  #fb00927e, #0000ff83, #00ff007e,#ffff0080,#ff000083);
  /* background: linear-gradient(45deg, #eeeeee, #745b31,white,
  #064E3B, #F59E0B,white,  #064E3B, #F59E0B,white, #064E3B, #F59E0B,white); */
  background-size: 400%;
  border-radius: 6px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 300% 0;
  }
 100%{
    background-position: 0 0;
  }

}
#interpretaionbor::after{
filter: blur(20px);
}
#interpretaionbor{
background: #4f5553da;
/* box-shadow: 10px 10px 10px 20px #cccccc46; */
/* filter: drop-shadow(0px 0px 12px #cccccc41); */
position: relative;
  border-radius: 6px;
}
#SoundParent>div,#SpeakInput{
  position: relative;
  margin-bottom: 5px;
  left: -4px;
}
#copybtn{
  position: relative;
  margin-bottom: 5px;
}
/* #SpeakInput{
  align-self: flex-end;
} */
/* .fieldset{
  display: none;
  width: 80%;
  max-width: 560px;
} */
textarea{
  outline: none;
}
#OutputedText{
  height: 17.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#phoneSpeaker:hover{
  background-color: #5e5e5e8a;
  box-shadow: 0 0  10px #5e5e5e8a,
  0 0 20px #5e5e5e8a,
  0 0 40px #5e5e5e8a;
  border-radius: 50%;
}
#SpeakInput:hover{
  background-color: #5e5e5e8a;
  box-shadow: 0 0  10px #5e5e5e8a,
  0 0 20px #5e5e5e8a,
  0 0 40px #5e5e5e8a;
  border-radius: 50%;
}
#Soundspeaker:hover{
  background-color: #5e5e5e8a;
  box-shadow: 0 0  10px #5e5e5e8a,
  0 0 20px #5e5e5e8a,
  0 0 40px #5e5e5e8a;
  border-radius: 50%;
}


#OutputedText,#TargetLang, #sourceLang {
  scrollbar-color:      #4f5553 #2e2e302d;
}
textarea {
  scrollbar-color:      #4f5553 #2e2e302d;
}
#TargetLang,#sourceLang{
  overflow: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 800px) {
  textarea{
    width: 35ch;
    /* height: 4.8em; */
    /* border: 2px dashed palegoldenrod; */
  }

}
@media screen and (max-width: 550px) {
  textarea{
    width: 35ch;
  }
  #interpretaionbor::after{
    filter: blur(15px);
    }

}
@media screen and (max-width: 400px) {
  textarea{
    width: 32ch;
    height: 6.6em;
  }
  #interpretaionbor{
    /* background: #000; */
    /* height: 5em; */
  }
  /* #OutputedText{
    height: 6.6em;
  } */
  #content-container{
    width: 90%;
  }
    textarea{
    /* border: 2px dashed palegoldenrod; */
  }

  .OrTrans,#triggerButton,#OutputedText{
    font-size: 16px;
    
  }
  #openFrom,#closeFrom,#opento,#closeTo,fieldset, .saySomething{
    font-size: 15px;
  }
  #confy-image{
    height: 25px;
    width: 25px;
  }
  #speaker{
    height: 50px;
    width: 50px;
  }
  #arrowParent{
    border: 3px solid white;
  }
  #main{
    width: 100%;
    
  }
}
@media screen and (max-width: 350px) {

  textarea{
    width: 30ch;
  }

  #interpretaionbor::after{
    filter: blur(10px);
    }
}
